/* Incomplete - Javascript I - AJAX & JS Fetch APIs - Weather Map Mapbox Exercise */
#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mapTools {
    display: flex;
    align-items: flex-start;
}

#removeMarkersBtn {
}

.hideMarkers {
    display: none;
}

body {
    background-color: #51c6ea;
}

.mapboxgl-canvas-container {
    height: 100vh;
}

.mapboxgl-popup-content {
    text-align: center;
}

#search {
    display: inline-flex;
}

.mapboxgl-marker {
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-marker:hover {
    position: absolute;
    top: 5px;
}
#info {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}
#weatherData {
    justify-content: space-evenly;
}
/*.coordinates {*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    color: #fff;*/
/*    position: absolute;*/
/*    bottom: 40px;*/
/*    left: 10px;*/
/*    padding: 5px 10px;*/
/*    margin: 0;*/
/*    font-size: 11px;*/
/*    line-height: 18px;*/
/*    border-radius: 3px;*/
/*    display: none;*/
/*}*/

#map {
    box-shadow: black 0 0 5px;
    border-radius: 1em;
}

#map:hover {
    transform: translate(0, -2px);
    box-shadow: 0 0 25px 0 black;
    transition: 50ms ease;
}
.light-box{
    background-color: #252525;
}
.weatherIcons {
    width: 3em;
}
.weatherIconAlignment {
    align-items: center;
}
.card {
    border: solid black 2px;
    margin-top: 1em;
}
.card-container {
    perspective: 700px;
    margin-inline-end: 18px;

}
.card-flip {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    height: auto;
    transition: all 0.5s ease-out;
    background: white;
    border: none;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    width: 100%;
    border: none;
}

.card-flip .front {
    position: relative;
    z-index: 1;
}

.card-flip .back {
    position: relative;
    z-index: 0;
    transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}
.card-block {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
.back {
    font-size: 12px;
    position: relative;
    bottom: 10em;
}
