/* Incomplete - Javascript I - AJAX & JS Fetch APIs - Weather Map Mapbox Exercise */
#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mapTools {
    display: flex;
    align-items: flex-start;
}

#removeMarkersBtn {
}

.hideMarkers {
    display: none;
}

body {
    /*background-color: #51c6ea ;*/
    background-image: url("img/weather-background.jpg");
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mapboxgl-canvas-container {
    height: 100vh;
}

.mapboxgl-popup-content {
    text-align: center;
}

#search {
    display: inline-flex;
}

.mapboxgl-marker {
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-marker:hover {
    position: absolute;
    top: 5px;
}
#info {
    display: table;
    position: relative;
    margin: 0 auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}
#weatherData {
    justify-content: space-evenly;
}
/*.coordinates {*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    color: #fff;*/
/*    position: absolute;*/
/*    bottom: 40px;*/
/*    left: 10px;*/
/*    padding: 5px 10px;*/
/*    margin: 0;*/
/*    font-size: 11px;*/
/*    line-height: 18px;*/
/*    border-radius: 3px;*/
/*    display: none;*/
/*}*/

#map {
    box-shadow: black 0 0 5px;
    border-radius: 1em;
}

#map:hover {
    transform: translate(0, -2px);
    box-shadow: 0 0 25px 0 black;
    transition: 50ms ease;
}
.light-box{
    background-image: url("img/focusbackground.png");
}
.weatherIcons {
    width: 3em;
}
.weatherIconAlignment {
    align-items: center;
}
.whiteText {
    color: white;
}
.card {
    border: solid black 2px;
    margin-top: 1em;
}
.card-container {
    perspective: 700px;
    margin-inline-end: 18px;

}
.card-flip {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    height: auto;
    transition: all 0.5s ease-out;
    background: white;
    border: none;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    width: 100%;
    border: none;
}

.card-flip .front {
    position: relative;
    z-index: 1;
}

.card-flip .back {
    position: relative;
    z-index: 0;
    transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}
.card-block {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
.back {
    font-size: 12px;
    position: relative;
    bottom: 15em;
}

#h1 {
    box-shadow: black 0 0 5px;
    margin: 1vw 1vh;
    /*transform: rotateY(180deg);*/
    animation: spin-horizontal 5s infinite linear;
    border-radius: 1em;
}
@keyframes spin-horizontal {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

#h1:hover {
    transform: translate(0, -2px);
    box-shadow: 0 0 25px 0 black;
    transition: 50ms ease;
}
.hr {
    height: 2px;
    width: 90%;
}
.hrBack {
    height: 2px;
    width: 100%;
}

/*below is for the click effect*/
div.clickEffect{
    position:fixed;
    box-sizing:border-box;
    border-style:solid;
    /*border-color:#FFFFFF;*/
    border-color: lightblue transparent;
    border-radius:50%;
    animation:clickEffect 0.4s ease-out;
    z-index:99999;
}
@keyframes clickEffect{
0%{
    opacity:1;
    width:1em; height:1em;
    margin:-1em;
    border-width:0.5em;
    }
100%{
    opacity:0.2;
    width:4em; height:4em;
    margin:-1em;
    border-width:0.03em;
    }
}


/*@keyframes clickEffect{*/
/*0% {*/
/*    opacity: 1;*/
/*    width: 0.5em;*/
/*    height: 0.5em;*/
/*    margin: -1em;*/
/*    border-width: 0.5em;*/
/*}*/

/*100% {*/
/*    opacity:0.2;*/
/*    width:15em; height:15em;*/
/*    margin:-1;*/
/*    border-width:0.03em;*/
/*    }*/
/*}*/
