/* Incomplete - Javascript I - AJAX & JS Fetch APIs - Weather Map Mapbox Exercise */
#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mapTools {
    display: flex;
    align-items: flex-start;
}

#removeMarkersBtn {
}

.hideMarkers {
    display: none;
}

body {
    background-color: #51c6ea;
}

.mapboxgl-canvas-container {
    height: 100vh;
}

.mapboxgl-popup-content {
    text-align: center;
}

#search {
    display: inline-flex;
}

.mapboxgl-marker {
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-marker:hover {
    position: absolute;
    top: 5px;
}
#info {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}
#weatherData {
    justify-content: space-evenly;
}
/*.coordinates {*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    color: #fff;*/
/*    position: absolute;*/
/*    bottom: 40px;*/
/*    left: 10px;*/
/*    padding: 5px 10px;*/
/*    margin: 0;*/
/*    font-size: 11px;*/
/*    line-height: 18px;*/
/*    border-radius: 3px;*/
/*    display: none;*/
/*}*/

#map {
    box-shadow: black 0 0 5px;
    border-radius: 1em;
}

#map:hover {
    transform: translate(0, -2px);
    box-shadow: 0 0 25px 0 black;
    transition: 50ms ease;
}
.light-box{
    /*background-color: #252525;*/
}


